$big-font: 15rem;

.jumbo {
    color: #333;
    font-size: $big-font;
    margin: 0;
    text-shadow: 1px 2px 1px #DEDEDE, 2px 3px 0 #FEFEFE, -1px -1px 0 #222;
}

html {
    body {
        margin: 0;
        padding: 0;
        background: green;
    }
}

header{
  text-align: center;
  button{
    background: red;
    border: none;
    width: 10rem;
    height: 2rem;
    margin: 2rem;
  }
}

table {
  display: flex;
  justify-content: center;
  // max-width: 75vw;
  
  tbody, tr {
    display: flex;
    flex-direction: column;

  }
  font-size: 4rem;
  margin: 1rem auto;
  // border: .1rem solid black;
  background: green;
  th {
    border: .1rem solid black;
    background: blue;
    color: white;
  }

  td {
    border: .1rem solid black;
    background: blue;
    color: gold;

  }
}
